.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}


.logo {
  font-weight: 800;
  font-size: 2.5rem;
}

/* nav related style */

.ham-menu {
  display: none;
}


.btn-gradient {
  background: linear-gradient(to right,
      #F7E93F 0%,
      #FB09B4 51%,
      #9100F8 100%)
}

hr {
  height: 3px;
  background-color: #412567;
}



/* banner related style */
.banner-container{
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  


}

.banner-content{
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero-circle {
 align-items: center;
 justify-items: center;
 
}

.microphone {
  position: absolute;

} 

.new{
  position: absolute;
  right: 37%;
  top: 30%;
  box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
  
}

.btn {
  max-width: 72px;
  text-align: center;
  position: absolute;
  top: 33%;
  right: 36%;
  box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
}

/* about podcast related style */
.about-podcast,
.hr {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}

.hr {
  opacity: 10%;
}


/* why chose techwave related style */

.Why-Choose-container {
  justify-content: center;
 
}



/* footer related style */

.footer {

  background-image: url("assets/footer-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* responsive related style */

@media screen and (max-width:576px) {
  .menu, .btn-nav{
    display: none;
  }

  .ham-menu {
  display: block;
 
  }
  .podcast-review, .footer-icon-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .Why-Choose-container, .episodes-card, .host-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

    
}

/* medium device  */

@media screen and (min-width:577px) and (max-width:792px){

   .menu, .btn-nav{
    display: none;
  }

  .ham-menu {
  display: block;
 
  }
  .podcast-review, .footer-icon-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .Why-Choose-container, .episodes-card, .host-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
    
}

