.inter-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}
/* 
nav, header{
    margin: 0 auto;
    max-width: 100%;
} */

.logo{
    font-weight: 800;
    font-size: 2.5rem;
}
/* .logo-2{
    color: blue;
} */

/* .btn{

} */

.btn-gradient {
  background: linear-gradient(
    to right,
    #F7E93F 0%,
   #FB09B4 51%,
    #9100F8 100%
  )}

  hr{
    height: 3px;
    background-color: #412567;
  }


  /* banner style */
.hero-bg{
    position: relative;
}

  .hero-circle{
    position: absolute;
        top: 28%;
    right: 36%;
  }
  .microphon{
    position: absolute;

    top: 40%;
    right: 45%;
  }

  .btn{
    max-width: 72px;
    text-align: center;
    position: absolute;
     top: 33%;
    right: 36%;
    box-shadow:  0 3px 27px rgba(0, 255, 136, 0.5);
  }

  .banner-text{
     position: absolute;

    top: 95%;
    right: 30%;
  }
 /* about podcast related style */
 .about-podcast, 
 .hr{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
   
 }

 .hr{
    opacity: 10%;
 }
